{% extends "/Layout/layout.html.twig" %}
{% block title %}
{{ parent() }} - {{ film.fil_titre }}
{% endblock %}
{% block content %}

    <div class="container">
    <div class="section">
        <h1 class="header center orange-text">{{ film.fil_titre }}</h1>
            <div class="row center valign-wrapper">
                <img class="materialboxed col s12 m6 offset-m3" src="{{ film.fil_image }}" alt="{{ film.fil_titre }}">
            </div>
        <p>Synopsis : {{ film.fil_description }}</p>
        <p>Réalisateur : 
            {% if realisateur|length > 0 %}
            {% for real in realisateur %}
                {{ real.rea_prenom }} {{ real.rea_nom }}
                {% if loop.last == false %} / {% endif %}
            {% endfor %}
            {% else %}
                -
            {% endif %}
        </p>
        <p>Date de sortie : {{ film.fil_annee }}</p>
        <p>Genres :
            {% if gender|length > 0 %} 
                {% for genre in gender %}
                    {{ genre.gen_genre }} {% if loop.last == false %} / {% endif %}
                {% endfor %}
            {% else %}
                -
            {% endif %}
        </p>
    </div>
  </div>

  {% endblock %}